<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static "css/index.css" %}">

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Autónomo #2</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Lista de Usuarios</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Opciones
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Nosotros</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="#">Contacto</a>
      </li>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">Ver más</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
    </form>
  </div>
    </nav>

<section>
    <h2>Introducción</h2>
    <div id="intro">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Quisque augue felis, egestas at eros et, viverra blandit augue.
        Mauris rutrum velit eu metus ornare, tincidunt mattis ante ullamcorper.
        Praesent egestas nisi et est finibus, nec dictum tortor ultrices.
        Nullam posuere elit tincidunt purus tristique, in mattis nisi feugiat. Phasellus id elit commodo, aliquam nisi ut, ornare ligula.
        Nullam mattis posuere congue. Cras rhoncus leo nulla, in volutpat ex iaculis quis. Morbi lobortis nisi dolor,
        vel commodo diam bibendum tincidunt. Maecenas sed leo lacus.
        </p>
    </div>
    <h2>Listado</h2>
    <img id="imagen_listado" src="{% static 'images/listado.png' %}" alt="imagen listado">
    <ul id="lista" class="list-group">
        <li class="list-group-item"><a href="{% url 'usuario1' %}">Milton García</a></li>
        <li class="list-group-item">María Cristina Meza</li>
        <li class="list-group-item">Axel Tuárez</li>
        <li class="list-group-item">Alejandra Mondragón</li>
    </ul>
</section>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>